<div class="container">
  <h1>Search for museums near you</h1>
  <p>Enter latitude and longitude below:</p>

<% @list = List.new %>
<%= simple_form_for @list do |f| %>
  <%= f.input :lat %>
  <%= f.input :lon %>
  <%= f.button :submit %>
<% end %>
