<div class="container">
  <h1>Search for museums near you</h1>
  <p>Enter latitude and longitude below:</p>

<%= simple_form_for 'museums_search_path', method: :post do |f| %>
  <%= f.input :lat %>
  <%= f.input :lon %>
  <%= f.button :submit %>
<% end %>
